@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/***
* https://aeroxer.net/developer/glassmorphism/
***/

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #FFF;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #253247;
  min-height: 100vh;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 65px;
}

header, footer {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 0;
  border-top: 0 solid rgba(255, 255, 255, 0.55);
  border-left: 0 solid rgba(255, 255, 255, 0.55);
  font-size: 14px !important;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: inherit;
}

header img {
  height: 30px;
}

footer {
  padding-top: 20px;
}

footer p {
  color: #CECDD2;
}

footer a {
  color: #CECDD2;
  text-decoration: none;
}

footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

footer h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
}

footer ul {
  padding-left: 0;
  margin-bottom: 40px;
}

footer ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #CECDD2;
}

.glass-box-reply {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);
}

.glass-box {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);
}

.glass-box-rounded {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);
}

.glass-box-circle {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);
}

.container-1 {
  width: 854px;
  max-width: 100%;
}

.hero-copy-wrap {
  height: 600px;
  font-size: 24px;
  line-height: 32px;
}

.hero-copy-wrap h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.hero-copy {
  color: #B5B4BB;
}

.hero-img-wrap {
  position: relative;
  height: 600px;
}

.hero-img-wrap .hero-img {
  position: absolute;
  right: -60px;
  bottom: 0;
  max-height: 100%;
  z-index: 1;
  max-width: 100%;
}

.hero-img-wrap .quote {

  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);

  font-style: italic;
  padding: 10px 25px;
  display: inline-block;
  z-index: 10;
  position: absolute;
  font-size: 14px;
  line-height: 21px;
}

div#quote-1 {
  top: 5%;
  right: 0%;
}

div#quote-2 {
  left: 0;
  top: 20%;
}

div#quote-3 {
  bottom: 10px;
  right: 0;
}

.hero-img-wrap .icon {
  z-index: -1;
  position: absolute;
}

img#icon-purple-triangle {
  right: 70%;
  top: 5%;
  animation: rotation 3s infinite ease-in;
  z-index: -1
}

img#icon-blue-triangle {
  right: 10%;
  top: 20%;
  animation: rotation 3s infinite ease-in-out;
  z-index: -1
}

img#icon-white-triangle {
  right: 80%;
  top: 50%;
  animation: rotation 3s infinite ease-out;
  z-index: -1
}

img#icon-fingerprints {
  right: auto;
  left: 0;
  bottom: 10%;
  width: 90px;
}

img#icon-lock {
  right: -10px;
  top: 30%;
  width: 90px;
}

.messenger-wrap {
  margin-bottom: 3rem;
}

.messenger-wrap::-webkit-scrollbar {
  width: 12px;
}

.messenger-wrap::-webkit-scrollbar-thumb {
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0));
  border-radius: 17px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.55);
  border-left: 0.1px solid rgba(255, 255, 255, 0.55);
}

.messenger-wrap .status-bar h5 {
  font-size: 20px;
  line-height: 27px;
}

.messenger-wrap .status-bar p {
  color: #787D87;
}

.messenger-wrap .status-bar img:first-of-type {
  margin-left: 0px;
}

.messenger-wrap .status-bar img {
  margin-left: 5px;
  margin-right: 5px;
}

.messenger-wrap .info {
  margin-bottom: 60px;
}

.messenger-wrap .date-wrap {
  font-size: 14px;
  margin-bottom: 10px;
}

.messenger-wrap .date-wrap span {
  padding: 0 30px;
}

.message-wrap {
  margin-bottom: 60px;
}

.message-wrap .profile {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.message-wrap .profile img {
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
}

.message-wrap .message {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.message-wrap.flex-row .message {
  margin-right: 256px;
}

.message-wrap.flex-row-reverse .message {
  margin-left: 256px;
}

.message-wrap .message .name {
  display: block;
  margin-bottom: 10px;
}

.message-wrap .message .thumbnail figure {
  float: left;
  margin: 0;
}

.message-wrap .message .thumbnail figure img {
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 350px;
}

.message-wrap .message .thumbnail figure figcaption {
  display: none;
}

.pad-top {
  padding-top: 120px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/** md **/
@media (max-width: 992px) {
  .container-1 {
    width: auto;
  }

  .hero-copy-wrap {
    height: auto;
    margin-top: 120px;
  }

  .hero-copy {
    padding: 0 !important;
  }

  .hero-img-wrap .hero-img {
    max-width: 100%;
    right: -135px;
  }

  .hero-img-wrap .hero-copy {
    font-size: 20px;
    line-height: 1.2em;
    width: 400px;
    top: 40%;
    position: absolute;
    z-index: 10;
  }

  .hero-img-wrap .hero-copy h1 {
    font-size: 26px;
    line-height: 1.2em;
  }

  img#icon-white-triangle {
    left: 40%;
    top: 70%;
    right: auto;
  }

  img#icon-blue-triangle {
    top: 5%;
    right: 0;
  }

  img#icon-fingerprints {
    right: 70%;
    left: 5%;
    bottom: 5%;
    width: 80px;
  }

  img#icon-lock {
    right: -20px;
    top: 20%;
    width: 80px;
  }

  div#quote-1 {
    right: 35%;
  }

  div#quote-3 {
    bottom: 5%;
    right: 0;
  }
}

/** sm **/
@media (max-width: 768px) {
  .container-1 {
    width: auto;
  }

  .hero-img-wrap .hero-img {
    max-width: 100%;
    right: -135px;
  }

  .hero-img-wrap .hero-copy {
    font-size: 20px;
    line-height: 1.2em;
    width: 240px;
    top: 40%;
    position: absolute;
    z-index: 10;
  }

  .hero-img-wrap .hero-copy h1 {
    font-size: 26px;
    line-height: 1.2em;
  }

  img#icon-purple-triangle {
    right: 75%;
  }

  img#icon-white-triangle {
    left: 30%;
    top: auto;
    bottom: 23%;
    right: auto;
  }

  img#icon-blue-triangle {
    top: 15%;
    right: -10px;
  }

  img#icon-fingerprints {
    right: auto;
    left: 5%;
    bottom: 5%;
    width: 70px;
  }

  img#icon-lock {
    right: -15px;
    top: 27%;
    width: 70px;
  }

  div#quote-1 {
    top: 20px;
  }

  div#quote-3 {
    bottom: 5%;
    right: -10px;
  }
}

/** xs **/
@media (max-width: 577px) {
  .container-1 {
    width: auto;
  }

  .hero-img-wrap .hero-img {
    max-width: 100%;
    right: -80px;
  }

  .hero-img-wrap .hero-copy {
    font-size: 14px;
    line-height: 1.2em;
    width: 155px;
    top: 40%;
    position: absolute;
    z-index: 10;
  }

  .hero-img-wrap .hero-copy h1 {
    font-size: 20px;
    line-height: 1.2em;
  }

  .hero-img-wrap {
    height: 500px;
  }

  .hero-img-wrap .quote {
    padding: 10px;
    font-size: 14px;
  }

  img#icon-purple-triangle {
    right: 85%;
    top: 10%;
  }

  img#icon-white-triangle {
    left: 25%;
    top: 75%;
  }

  img#icon-blue-triangle {
    top: 10%;
    right: 5%;
  }

  img#icon-fingerprints {
    left: 5%;
    bottom: 5%;
    width: 50px;
  }

  img#icon-lock {
    right: 0;
    top: 35%;
    width: 50px;
  }

  div#quote-1 {
    top: 5%;
    right: 25%;
  }

  div#quote-2 {
    top: 22%;
  }

  div#quote-3 {
    bottom: 5%;
    right: 5px;
  }

  .hero-copy-wrap {
    font-size: 16px;
    line-height: 1em;
  }

  .hero-copy-wrap h1 {
    font-size: 20px;
    line-height: 1em;
  }

  .message-wrap .message .thumbnail figure img {
    max-width: 100%;
  }

  .message-wrap .message {
    margin-left: 0;
    margin-right: 0;
  }

  .message-wrap.flex-row .message {
    margin-right: 10px;
  }

  .message-wrap.flex-row-reverse .message {
    margin-left: 10px;
  }
}