@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/***
* https://aeroxer.net/developer/glassmorphism/
***/

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #FFF;
}

body {
  background-color: #162134;
  min-height: 100vh;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 65px;
}

header, footer {
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0));
  border-radius: 0px;
  border-top: 0px solid rgba(255, 255, 255, 0);
  border-left: 0px solid rgba(255, 255, 255, 0);
  font-size: 14px !important;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: inherit;
}

header img {
  height: 30px;
}

footer {
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 20px;
}

footer p {
  color: #CECDD2;
}

footer a {
  color: #CECDD2;
  text-decoration: none;
}

footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

footer h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  line-height: 22px;
  color: #FFF;
}

footer ul {
  padding-left: 0;
  margin-bottom: 40px;
}

footer ul li {
  list-style: none;
  margin-bottom: 5px;
  color: #CECDD2;
}

.glass-box {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  border-radius: 10px;
  border-top: 1.7px solid rgba(255, 255, 255, 0.29);
  border-left: 1.7px solid rgba(255, 255, 255, 0.29);
}

.glass-box-rounded {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  border-radius: 100px;
  border-top: 1.7px solid rgba(255, 255, 255, 0.29);
  border-left: 1.7px solid rgba(255, 255, 255, 0.29);
}

.glass-box-circle {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  border-radius: 50%;
  border-top: 1.7px solid rgba(255, 255, 255, 0.29);
  border-left: 1.7px solid rgba(255, 255, 255, 0.29);
}

.hero-copy-wrap {
  height: 600px;
  font-size: 24px;
  line-height: 32px;
}

.hero-copy-wrap h1 {
  font-size: 64px;
  line-height: 80px;
}

.hero-copy {
  padding: 30px !important;
}

.hero-img-wrap {
  position: relative;
  height: 600px;
}

.hero-img {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  z-index: 1;
  padding-top: 50px;
}

.hero-img-wrap .quote {

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  border-radius: 10px;
  border-top: 1.7px solid rgba(255, 255, 255, 0.29);
  border-left: 1.7px solid rgba(255, 255, 255, 0.29);

  font-style: italic;
  padding: 10px 25px;
  display: inline-block;
  z-index: 10;
  position: absolute;
  font-size: 14px;
  line-height: 21px;
}

div#quote-1 {
  top: 10%;
  right: 10%;
}

div#quote-2 {
  left: 0;
  top: 20%;
}

div#quote-3 {
  bottom: 10px;
  right: 100px;
}

.hero-img-wrap .icon {
  z-index: -1;
  position: absolute;
}

img#icon-purple-triangle {
  right: 70%;
  top: 5%;
  animation: rotation 3s infinite ease-in;
  z-index: -1
}

img#icon-blue-triangle {
  right: 10%;
  top: 30%;
  animation: rotation 3s infinite ease-in-out;
  z-index: -1
}

img#icon-white-triangle {
  right: 80%;
  top: 50%;
  animation: rotation 3s infinite ease-out;
  z-index: -1
}

img#icon-fingerprints {
  right: 90%;
  bottom: 10%;
}

img#icon-lock {
  right: 0;
  top: 40%;
}

.messenger-wrap {
  height: 1000px;
  overflow: auto;
  margin-bottom: 3rem;
}

.messenger-wrap::-webkit-scrollbar {
  width: 12px;
}

.messenger-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  border-top: 1.7px solid rgba(255, 255, 255, 0.29);
  border-left: 1.7px solid rgba(255, 255, 255, 0.29);
}

.messenger-wrap .status-bar h5 {
  font-size: 20px;
  line-height: 27px;
}

.messenger-wrap .status-bar p {
  color: #787D87;
}

.messenger-wrap .status-bar img:first-of-type {
  margin-left: 0px;
}

.messenger-wrap .status-bar img {
  margin-left: 5px;
  margin-right: 5px;
}

.messenger-wrap .info {
  margin-bottom: 60px;
}

.messenger-wrap .date-wrap {
  font-size: 14px;
  margin-bottom: 10px;
}

.messenger-wrap .date-wrap span {
  padding: 0 30px;
}

.message-wrap {
  margin-bottom: 60px;
}

.message-wrap .profile {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.message-wrap .profile img {
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.message-wrap .message {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.message-wrap.flex-row .message {
  margin-right: 100px;
}

.message-wrap.flex-row-reverse .message {
  margin-left: 100px;
}

.message-wrap .message .name {
  display: block;
  margin-bottom: 10px;
}

/*.message-wrap .message .thumbnail img {*/
/*float: left;*/
/*margin-right: 5px;*/
/*margin-bottom: 5px;*/
/*max-width: 350px;*/
/*}*/

.message-wrap .message .thumbnail figure {
  float: left;
  margin: 0;
}

.message-wrap .message .thumbnail figure img {
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 350px;
}

.message-wrap .message .thumbnail figure figcaption {
  display: none;
}

.pad-top {
  padding-top: 120px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 992px) {
  .hero-copy-wrap {
    height: auto;
    margin-top: 120px;
  }

  .hero-copy {
    padding: 0 !important;
  }
}

@media (max-width: 577px) {
  .hero-img-wrap .hero-img {
    width: 100%;
  }

  .hero-img-wrap {
    height: 400px;
  }

  img#icon-purple-triangle {
    right: 60%;
  }

  img#icon-white-triangle {
    left: 5px;
  }

  img#icon-blue-triangle {
    top: 25%;
  }

  img#icon-fingerprints {
    left: -5px;
    top: 30px;
  }

  img#icon-lock {
    right: -20px;
    top: 35%;
  }

  div#quote-1 {
    top: 5%;
    right: 5px;
  }

  div#quote-2 {
    left: 0;
    top: 65%;
  }

  div#quote-3 {
    bottom: 5px;
    right: 5px;
  }

  .hero-copy-wrap h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .message-wrap .profile img {
    width: 50px;
  }

  .message-wrap .message .thumbnail figure img {
    max-width: 100% ;
  }

  .message-wrap .message {
    margin-left: 0;
    margin-right: 0;
  }

  .message-wrap.flex-row .message {
    margin-right: 5px;
  }

  .message-wrap.flex-row-reverse .message {
    margin-left: 5px;
  }
}